@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    padding: 3rem 9%;
}

.heading {
    background: url(../image/heading-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 8rem;
}

.heading h1 {
    color: #222;
    font-size: 4rem;
}

.heading p {
    padding-top: 1rem;
    font-size: 2rem;
    color: #666;
}

.heading p a {
    color: #222;
    padding-right: .5rem;
}

.heading p a:hover {
    color: #6d6875;
}

.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    padding: 1.2rem 0;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    color: #222;
}

.title span {
    color: #6d6875;
    padding-left: .7rem;
}

.title a {
    margin-left: auto;
    color: #666;
    font-size: 1.5rem;
}

.title a:hover {
    color: #6d6875;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    background: #6d6875;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover {
    background: #b5838d;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #6d6875;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 2rem 9%;
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #b5838d;
}

.header .logo i {
    color: #ffcdb2;
    padding-right: .5rem;
}

.header .navbar a {
    font-size: 1.7rem;
    color: #b5838d;
    margin: 0 1rem;
}

.header .navbar a:hover {
    color: #ffcdb2;
}

.header .icons div {
    font-size: 2.5rem;
    margin-left: 1.7rem;
    cursor: pointer;
    color: #b5838d;
}

.header .icons div:hover {
    color: #ffcdb2;
}

.header .search-form {
    position: absolute;
    top: -115%;
    right: 2rem;
    width: 50rem;
    border-radius: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 5.5rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background: #fff;
}

.header .search-form.active {
    top: 115%;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    padding: 0 1.2rem;
    font-size: 1.6rem;
    color: #222;
    text-transform: none;
}

.header .search-form label {
    font-size: 2.5rem;
    margin-right: 1.7rem;
    cursor: pointer;
    color: #666;
}

.header .search-form label:hover {
    color: #ffcdb2;
}

.header .shopping-cart {
    position: absolute;
    top: 115%;
    right: -105%;
    background: #fff;
    border-radius: .5rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    width: 35rem;
    padding: 2rem;
}

.header .shopping-cart.active {
    right: 2rem;
    -webkit-transition: .4s linear;
    transition: .4s linear;
}

.header .shopping-cart .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.header .shopping-cart .box .fa-times {
    position: absolute;
    top: 50%;
    right: 2rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2rem;
    color: #666;
    cursor: pointer;
}

.header .shopping-cart .box .fa-times:hover {
    color: #6d6875;
}

.header .shopping-cart .box img {
    height: 10rem;
}

.header .shopping-cart .box .content h3 {
    margin-right: 40px;
    font-size: 1.5rem;
    padding-bottom: .5rem;
    color: #222;
}

.header .shopping-cart .box .content span {
    font-size: 1.5rem;
    color: #666;
}

.header .shopping-cart .box .content span.multiply {
    margin: 0 .5rem;
}

.header .shopping-cart .total {
    color: #666;
    text-align: center;
    font-size: 2.2rem;
}

.header .shopping-cart .total span {
    color: #222;
}

.header .shopping-cart .btn {
    border-radius: 4px;
    text-align: center;
    width: 100%;
}

.header .login-form {
    position: absolute;
    top: 115%;
    right: -105%;
    background: #fff;
    border-radius: .5rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    width: 35rem;
    padding: 2rem;
}

.header .login-form.active {
    right: 2rem;
    -webkit-transition: .4s linear;
    transition: .4s linear;
}

.header .login-form h3 {
    color: #222;
    text-transform: uppercase;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: .7rem;
}

.header .login-form .box {
    margin: .7rem 0;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding: 1rem 1.2rem;
    font-size: 1.5rem;
    color: #222;
    text-transform: none;
    width: 100%;
}

.header .login-form .remember {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: .5rem;
    margin: .7rem 0;
}

.header .login-form .remember label {
    font-size: 1.5rem;
    color: #666;
    cursor: pointer;
}

.header .login-form .btn {
    border-radius: 4px;
    margin: 1rem 0;
    width: 100%;
    text-align: center;
}

.header .login-form p {
    color: #666;
    padding-top: .7rem;
    font-size: 1.4rem;
}

.header .login-form p a {
    color: #6d6875;
}

.header .login-form p a:hover {
    text-decoration: underline;
}

#menu-btn {
    border-radius: 4px;
    display: none;
}

@-webkit-keyframes fadeLeft {
    0% {
        -webkit-transform: translateX(-5rem);
        transform: translateX(-5rem);
        opacity: 0;
    }
}

@keyframes fadeLeft {
    0% {
        -webkit-transform: translateX(-5rem);
        transform: translateX(-5rem);
        opacity: 0;
    }
}

@-webkit-keyframes fadeUp {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes fadeUp {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        opacity: 0;
    }
}

.home {
    padding-top: 14rem;
    background: url(../image/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .slides-container .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
    display: none;
}

.home .slides-container .slide.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.home .slides-container .slide .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    -webkit-animation: fadeLeft .4s linear .4s backwards;
    /*animation: fadeLeft .4s linear .4s backwards;*/
}

.home .slides-container .slide .content span {
    color: #666;
    font-size: 2.5rem;
}

.home .slides-container .slide .content h3 {
    font-size: 6rem;
    color: #222;
    padding: .5rem 0;
}

.home .slides-container .slide .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    margin: 3rem 0;
}

.home .slides-container .slide .image img {
    width: 100%;
    -webkit-animation: fadeUp .4s linear;
    animation: fadeUp .4s linear;
}

.home #next-slide,
.home #prev-slide {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
    background: #fff;
    font-size: 3rem;
    color: #6d6875;
    cursor: pointer;
}

.home #next-slide:hover,
.home #prev-slide:hover {
    background: #6d6875;
    color: #fff;
}

.home #prev-slide {
    left: 2rem;
}

.home #next-slide {
    right: 2rem;
}

.category .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(16rem, 1fr)[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
    padding: 4rem 0;
}

.category .box-container .box {
    text-align: center;
}

.category .box-container .box img {
    height: 8rem;
}

.category .box-container .box h3 {
    font-size: 2rem;
    margin: 1rem 0;
    color: #666;
}

.category .box-container .box:hover h3 {
    color: #6d6875;
}

.products .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(25rem, 1fr)[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box {
    position: relative;
    background: #f3f3f3;
    text-align: center;
    overflow: hidden;
}

.products .box-container .box:hover .icons {
    top: 0;
}

.products .box-container .box .icons {
    position: absolute;
    top: -105%;
    left: 0;
    height: 30rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(243, 243, 243, 0.8);
    gap: 1rem;
}

.products .box-container .box .icons a {
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background: #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    color: #666;
}

.products .box-container .box .icons a:hover {
    background: #6d6875;
    color: #fff;
}

.products .box-container .box .image {
    height: 30rem;
    width: 100%;
    overflow: hidden;
}

.products .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.products .box-container .box .content {
    padding: 1.5rem;
}

.products .box-container .box .content h3 {
    font-size: 2rem;
    color: #222;
}

.products .box-container .box .content .price {
    font-size: 2rem;
    color: #222;
    padding: 1rem 0;
}

.products .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: #6d6875;
}

.contact .icons-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(29rem, 1fr)[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
    gap: 1.5rem;
}

.contact .icons-container .icons {
    text-align: center;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.contact .icons-container .icons i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    background: #6d6875;
    color: #fff;
    border-radius: 50%;
}

.contact .icons-container .icons h3 {
    color: #222;
    font-size: 2rem;
    padding: 1rem 0;
}

.contact .icons-container .icons p {
    color: #666;
    font-size: 1.5rem;
    line-height: 2;
}

.contact .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
    /*    margin-top: 2rem;*/
}

.contact .row form {
    padding: 2rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
}

.contact .row form h3 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    color: #222;
}

.contact .row form .inputBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.contact .row form .inputBox input {
    width: 100%;
}

.contact .row form .inputBox .box,
.contact .row form textarea {
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    color: #222;
    text-transform: none;
    margin: .7rem 0;
}

.contact .row form textarea {
    width: 100%;
    height: 15rem;
    resize: none;
}

.contact .row .img1 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    /*width: 100%;*/
    width: 50%;
    height: 100%;
    margin-top: 120px;
}

.contact .row .img2 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    /*width: 100%;*/
    width: 50%;
    height: 100%;
    margin-top: 18%;
    margin-bottom: 10%;
}

.footer {
    background: #f3f3f3;
}

.footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(25rem, 1fr)[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #222;
    padding: 1rem 0;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    color: #666;
    padding-bottom: .5rem;
}

.footer .box-container .box a {
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;
    display: block;
}

.footer .box-container .box a:hover {
    color: #6d6875;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .box-container .box a i {
    padding-right: .5rem;
    color: #6d6875;
}

.footer .box-container .box form input[type="email"] {
    width: 100%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: #222;
    margin: 1rem 0;
    text-transform: none;
}

.footer .box-container .box .payment {
    width: 100%;
    margin-top: 2rem;
}

.credit {
    text-align: center;
    background: #6d6875;
    color: #fff;
    font-size: 2rem;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 2rem;
    }
    section {
        padding: 3rem 2rem;
    }
    .home #next-slide,
    .home #prev-slide {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        top: 88%;
    }
    .home #prev-slide {
        left: auto;
        right: 8rem;
    }
    .individual {
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "image content"
    }
}

@media (max-width: 768px) {
    #menu-btn {
        border-radius: 4px;
        display: inline-block;
    }
    .header .search-form {
        width: 100%;
        right: 0;
        border-radius: 0;
    }
    .header .search-form.active {
        top: 99%;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    }
    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #f3f3f3;
        font-size: 2rem;
        display: block;
        border-radius: .5rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .home .slides-container .slide .content h3 {
        font-size: 5rem;
    }
    .contact .row form .inputBox input {
        width: 100%;
    }
}

.resultContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultContainer .content {
    padding: 15px;
    border: 1px solid #6d6875;
    box-shadow: 5px 10px #b5838d;
}

.resultContainer h2 {
    font-size: 5rem;
}

.resultContainer h4 {
    font-size: 2rem;
    padding: 5px;
}

.resultContainer p {
    font-size: 1.5rem;
    padding: 5px;
}

.resultContainer .btn {
    color: white;
    border-radius: 8px;
    background-color: red;
    padding: 5px;
}

.resultContainer .outBtn {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    color: white;
    border-radius: 8px;
    background-color: #b5838d;
}

/* Style the tab */
.tab {
    float: left;
    /*border: 1px solid red;*/
    background-color: #6d6875;
    width: 25%;
    /*height: 300px;*/
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 4px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ffcdb2;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #b5838d;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    /*border: 1px solid #ccc;*/
    width: 70%;
    border-left: none;
    /*height: 300px;*/
}

.products .box-container .box .content .againBtn a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #b5838d;
}

.products .box-container .box .content .againBtn a:hover {
    color: #6d6875;
}

.resultContainer2 {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultContainer2 h2 {
    text-align: center;
    font-size: 2rem;
    color: #666;
}

.resultContainer2 h4 {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 5px;
    color: #666;
}

.resultContainer3 {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #bebebe;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

.resultContainer3 h4{
    font-size: 1.4rem;
    color: #bebebe;
    text-align: center;
    padding: 5px;
}

.individual .box-container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 10px;
    gap: 1.5rem;
}

.individual .box-container .productimage {
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    height: 40rem;
}

.individual .box-container .productimage img{
    height: 30rem;
}

.individual .box-container .infobox {
    font-size: 1.4rem;
    padding-top: 20px;
}

.individual .box-container .infobox .mart {
    font-size: 1.5rem;
    color: #666;
    padding-bottom: 15px
}

.individual .box-container .infobox h2 {
    font-size: 3rem;
    padding-bottom: 15px
}

.individual .box-container .infobox h3 {
    font-size: 2.5rem;
    padding-bottom: 15px;
}

.individual .box-container .infobox h4 {
    font-size: 1.4rem;
    padding-bottom: 15px;
    color: #666;
}

.individual .box-container .infobox a{
    border-radius: 8px;
    padding: 12px;
    margin-top: 15px;
    background-color: #6d6875;
    color: white;
}

.individual .box-container .infobox a:hover{
    background-color: #b5838d;
}

.wrapper {
    padding: 10px;
    overflow: hidden;
}

.acc-container {
    max-width: 100%;
    margin: 0 auto;
}

.accordion-item {
    margin-bottom: 15px;
}

.accordion-header {
    cursor: pointer;
    display: block;
    line-height: 40px;
    font-size: 20px;
    position: relative;
    background-color: #ffffff;
    color: #373737;
    padding: 10px 55px 10px 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

/* position for the button */
.accordion-header > span {
    position: absolute;
    border-radius: 50%;
    padding: 12px;
    right: 20px;
    top: 50%;
    height: 25px;
    width: 25px;
    transform: translateY(-50%);
    cursor: pointer;
}

.accordion-header > span::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 10px;
    width: 2px;
    background-color: #000000;
    transform: translate(-50%, -50%);
    transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}

.accordion-header > span::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 10px;
    width: 2px;
    background-color: #000000;
    transform: translate(-50%, -50%) rotate(90deg);
}

.accordion-open .accordion-header > span::before {
    transform: translate(-50%, -50%) rotate(90deg);
}
/*  */
.accordion-body {
    padding: 20px;
    background-color: white;
    font-size: 18px;
    text-align: justify;
    display: none;
}

/* Rating CSS */
.ratingReview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 10px;
}

.master-msg h1 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.prodDetails {
    margin-left: auto;
    margin-right: auto;
}

.ratingReview h2 {
    line-height: 160%;
    margin-bottom: 5px;
}

.success-message h1 {
    font-size: 2rem;
    margin: 20px;
}

.rating-component {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px;
}
.tags-box {
    border: 1px solid #000000;
    padding-left: 5px;
    border-radius: 3px;
}

.rating-component .status-msg {
    margin-bottom: 10px;
}

.rating-component .status-msg strong {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.rating-component .stars-box {
    -ms-flex-item-align: center;
    margin-bottom: 10px;
}

.rating-component .stars-box .star {
    color: #ccc;
    cursor: pointer;
    font-size: 1.7rem;
}

.rating-component .stars-box .star.hover {
    color: #b5838d;
}

.rating-component .stars-box .star.selected {
    color: #b5838d;
}

.button-box {
    margin-left: auto;
    margin-right: auto;
}

.button-box .done {
    background-color: #6d6875;
    border: 1px solid #6d6875;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: none;
    min-width: 100px;
    margin-top: 10px;
    padding: 1.3rem;
}

.button-box .done:hover {
    background-color: #b5838d;
    border: 1px solid #b5838d;
}

.button-box .done:disabled,
.button-box .done[disabled] {
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
    color: #fff;
    cursor: initial;
}

.submited-box {
    display: none;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.submited-box .loader,
.submited-box .success-message {
    display: none;
}

.submited-box .loader {
    border: 5px solid transparent;
    border-top: 5px solid #6d6875;
    border-bottom: 5px solid #b5838d;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
